<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Python project</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="container border mt-2">
        <div class="row">
            <header id="header" class="col-12 bg-light text-success p-2">
                <h1>My Python project - Spain Soccer League</h1>
            </header>

            <!-- Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Other</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
            <!-- End Navbar-->

            

            <section id="content" class="col-12">
                <div class="row">                    

                    
            <!-- 
            <nav id="menu" class="col-8 bg-secondary">
                <ul class="row">
                    <li class="col">Home</li>
                    <li class="col">Page 1</li>
                    <li class="col">Page 2</li>
                    <li class="col">Page 3</li>
                    <li class="col">Contact</li>
                </ul>
            </nav> 
            -->

                    <section id="htmlbody" class="col-8 border bg-ligth">
                        <!-- Slider Carousel -->
                        <div id="carouselExampleCaptions" class="carousel slide mb-2 mt-2" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                <img src="img/rmadrid.jpg" class="d-block w-100" alt="Real Madrid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Real Madrid</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                                </div>
                                <div class="carousel-item">
                                <img src="img/barcelona.jpg" class="d-block w-100" alt="FC Barcelona">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>FC Barcelona</h5>
                                    <p>Some representative placeholder content for the second slide.</p>
                                </div>
                                </div>
                                <div class="carousel-item">
                                <img src="img/amadrid.jpg" class="d-block w-100" alt="Atletico de Madrid">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Atletico de Madrid</h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!-- End of Slider Carousel -->
                    </section>

                    <aside id="lateral" class="col-4 border bg-light">
                        <h3>This is my aside</h3>
                    </aside>
                </div>
            </section>

            <footer id="foot" class="col-12 bg-light">
                <span>Python project 2022 &copy;</span>
            </footer>
        </div>
    


    </div>




    <script type="text/javascript" src="jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script>
</body>

</html>